:root {
        --primary-background-color: #FFFFFF;;
        --secondary-background-color: #F5F4FA;
        --footer-background-color: #2F303A;
        --work-card-overlay-background: rgba(33, 150, 243, 0.9);
        --hero-gradient: rgba(47, 48, 58, 0.4);
        --proposition-wrapper-background-color: rgba(47, 48, 58, 0.8);
        --backdrop-overlay: rgba(0, 0, 0, 0.2);
        --join-soc-link: rgba(255, 255, 255, 0.1);

        --primary-text-color: #757575;
        --secondary-text-color: #212121;
        --accent-color: #2196F3;
        --logo-text-color: #000000;
        --primary-white-color: #FFFFFF;
        --secondary-white-color: rgba(255, 255, 255, 0.6);
        --placeholder-comment: rgba(117, 117, 117, 0.5);

        --header-border-bootom: #ECECEC;
        --clients-border-color: #AFB1B8;
        --card-border-color: rgba(238, 238, 238, 1);
        --email-input-border-color: rgba(255, 255, 255, 0.3);
        --modal-form-input: rgba(33, 33, 33, 0.2);
         
        --team-card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        --modal-send-button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

        --portfolio-card-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        --secondary-button-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
      
        --primary-button-hover-color: #188CE8;
        --border-close-button-color: rgba(0, 0, 0, 0.1);
        
        --main-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

body {
    
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
}

.list, .work-list {
    padding: 0;
    margin: 0;
    list-style: none;

}

.logo-link, .current-link, .site-link, .post-link, .tel-link, .contacts-link, .card {
    text-decoration: none; 
}

 .section {
    padding-top: 94px;
    padding-bottom: 94px; }


.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}

/* Хедер */

.header {
    border-bottom: 1px solid var(--header-border-bootom);
}

.page-header {
    display: flex;
    align-items: center;
}

.logo-link {
    display: inline-block;
    
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    color: var(--logo-text-color);

    transition: color 250ms var(--main-timing-function); 
}

 .footer .logo-link {
    margin-bottom: 20px;


    display: inline-block;
    color: var(--primary-white-color);

 }

 .logo-link:hover,
 .logo-link:focus {
     color: var(--accent-color);
 }

.accent {
    color: var(--accent-color);
}

.site-nav >.list {
    margin-left: 93px;

    display: flex;
    
}

.site-nav .item {
    margin-right: 50px;
}

.site-nav .item:last-child {
    margin-right: 0;
}

.site-link {  
    padding-top: 32px;
    padding-bottom: 32px;

    display: block;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--secondary-text-color);

    transition: color 250ms var(--main-timing-function);
}

.current-link {
    padding-top: 32px;
    padding-bottom: 32px;
    
    display: block;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--accent-color);
}

.main-page.current-link::after {
    content: "";
    display: block;
    position: absolute;
    top: 76px;
    
    width: 48px;
    height: 4px;
    
    background-color: var(--accent-color);
    border-radius: 2px;
}

.portfolio-page.current-link::after {
    content: "";
    display: block;
    position: absolute;
    top: 76px;

    width: 78px;
    height: 4px;

    background-color: var(--accent-color);
    border-radius: 2px;
}

.site-link:hover, .site-link:focus, .current-link:hover, .current-link:focus {
    color: var(--accent-color);
}

.connect {
    margin-left: auto;

    display: flex;
}

.connect>.item+.item {
    margin-left: 50px;
}

.post-link, .tel-link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;
    
    color: var(--primary-text-color);

    transition: color 250ms var(--main-timing-function);
}

.icon-envelope, .icon-smartphone {
   margin-right: 10px;
   fill: currentColor;}

.post-link:hover, .post-link:focus,
.tel-link:hover, .tel-link:focus {
    color: var(--accent-color);
}

/* Секція Hero */

.overlay {
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient( to right, var(--hero-gradient), var(--hero-gradient) ), url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 
}

.hero {
    padding-top: 200px;
    padding-bottom: 200px;

    text-align: center;
    background-color: var(--footer-background-color);
}

.hero-title {
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    
    max-width: 696px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--primary-white-color);
}

.primary-button {
    display: inline-block;
    padding: 10px 32px;
    min-width: 216px;

    font-family: inherit;
    font-style: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    
    
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    border-color: transparent;

    border-radius: 4px;
    cursor: pointer;

    transition: color 250ms var(--main-timing-function), background-color 250ms var(--main-timing-function), border-color 250ms var(--main-timing-function);;
}

.primary-button:hover, .primary-button:focus {
    color: var(--primary-white-color);
    background-color: var(--primary-button-hover-color);
    border-color: var(--primary-button-hover-color);
}


/* Секція Наші переваги */

.visually-hidden {
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
}

.rectangle {
    margin-bottom: 30px;
    padding: 25px 100px;
    width: 270px;
    height: 120px;
    background-color: var(--secondary-background-color);

    border-radius: 4px;
}

.features {
    padding-bottom: 0;
}

.feature-list {
    display: flex;
}

.feature-list .item {
    margin-right: 30px;

    width: 270px;
}

.feature-list .item:last-child {
    margin-right: 0;
}

.features-title {
   margin-top: 0;
   margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    
    color: var(--secondary-text-color);
}

.features-description {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 14px;
    line-height: 1.71;
}

/* Секція Чим ми займаємося */

.proposition-title {
    margin-top: 0;
    margin-bottom: 50px;
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    
    color: var(--secondary-text-color);
}

.prosition-list {
    display: flex;
}

.prosition-list .item {
    position: relative;
    margin-right: 30px;

}

.prosition-list .item:last-child {
    margin-right: 0;
}

.card-image {
    display: block;
}

.proposition-description-wrapper {
    position: absolute;
    
    bottom: 0;
    left: 0;

    width: 100%;
    height: 70px;

    padding-top: 27px;
    padding-bottom: 27px;
    padding-right: 80px;
    padding-left: 80px;
    
    background-color: var(--proposition-wrapper-background-color);
}

.proposition-description {
    margin: 0;
   
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
        
    text-transform: uppercase;
    
    color: var(--primary-white-color)
}

/* Секція Наша команда */

.team {
    text-align: center;

    background-color: var(--secondary-background-color);
}

.team-title {
    margin-top: 0;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;

    color: var(--secondary-text-color);
}

.team-list {
    display: flex;
}

.team-list .item {
    margin-right: 30px;
    width: calc((100% - 90px) / 4);
}

.team-list .item:last-child {
    margin-right: 0;
}

.team-card {
    box-shadow: var(--team-card-shadow);
    border-radius: 0px 0px 4px 4px;

    background-color: var(--primary-background-color);
}

.team-img {
    display: block;
}

.team-card-body {
    padding: 30px 32px;
}

.team-member {
    margin-top: 0;
    margin-bottom: 10px;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    
    color: var(--secondary-text-color);
}

.team-description {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.19;
}

.team-soc-list {
    display: flex;
    justify-content: center;
}

.team-soc-item {
    margin-right: 10px;
}

.team-soc-item:last-child {
    margin-right: 0;
}

.team-soc-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--clients-border-color);

    transition: color 250ms var(--main-timing-function), background-color 250ms var(--main-timing-function);
}

.team-soc-icon {
    fill: currentColor;
}

.team-soc-link:hover,
.team-soc-link:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}

/* Наші клієнти */

.clients-title {
    margin-top: 0;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

    color: var(--secondary-text-color);
}

.clients-list {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.item-clients {
    margin-right: 30px;
}

.item-clients:last-child {
    margin-right: 0;
}

.link-company {
    display: flex;
    justify-content: center;
    align-items: center;
        
    width: 170px;
    height: 92px;    
    border: 1px solid var(--clients-border-color);
    border-radius: 4px; 
      
    color: var(--clients-border-color);

    transition: color 250ms var(--main-timing-function), background-color 250ms var(--main-timing-function);
}

.icon-company {
    fill: currentColor;
}

.link-company:hover, .link-company:hover {
    border-color: var(--accent-color);
    color: var(--primary-button-hover-color);
}

/* Футер */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footer-background-color);
}

.location {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
    
    color: var(--primary-white-color);
}

.location .item {
    margin-top: 9px;
    margin-bottom: 9px;
}

.location .item:last-child {
    margin-top: 0px;
    margin-bottom: 0px;
}

.contacts-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
    
    color: var(--secondary-white-color);

    transition: color 250ms var(--main-timing-function);
}

.contacts-link:hover, .contacts-link:focus {
    color: var(--accent-color);
}

.footer .container {
    display: flex;
    align-items: baseline;
}

.join {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 70px;
    margin-right: 93px;

    text-align: center;
}

.join-title, .submit-title {
    margin-top: 0;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    
    text-transform: uppercase;
    color: var(--primary-white-color);
}

.join-soc-list {
    display: flex;
    justify-content: center;
}

.join-soc-item {
    margin-right: 10px;
}

.join-soc-item:last-child {
    margin-right: 0;
}

.join-soc-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--join-soc-link);
    color: var(--primary-white-color);

    transition: color 250ms var(--main-timing-function), background-color 250ms var(--main-timing-function);
}

.join-soc-icon {
    fill: currentColor;
}

.join-soc-link:hover,
.join-soc-link:focus {
    background-color: var(--accent-color);}


.footer-submit-form {
    margin-left: auto;

}

.footer-form {
    display: flex;
   }

.email-input {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    margin-right: 12px;
    
    width: 358px;
    height: 50px;
    
    border: 1px solid var(--email-input-border-color);
    border-radius: 4px;

    background-color: transparent;

    outline: none;

    transition: border-color 250ms var(--main-timing-function);
    }

.email-input:focus, .email-input:hover {
    border-color: var(--accent-color);
    color: var(--secondary-white-color);
}

 .email-input::placeholder {
    
        font-size: 16px;
        line-height: 1.25;

        color: var(--secondary-white-color);}


.submit-button {
        display: flex;
        align-items: center;
        padding: 10px 32px 10px 28px;
    
        min-width: 200px;
    
        font-family: inherit;
        font-style: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
    
    
        color: var(--primary-white-color);
        background-color: var(--accent-color);
        border-color: transparent;
    
        border-radius: 4px;
        cursor: pointer;
    
        transition: color 250ms var(--main-timing-function), background-color 250ms var(--main-timing-function), border-color 250ms var(--main-timing-function);
        ;
    }
    
    .submit-button:hover,
    .submit-button:focus {
        color: var(--primary-white-color);
        background-color: var(--accent-color);
        border-color: var(--accent-color);
}

.submit-button-icon {

    fill: var(--primary-white-color);
    margin-left: 8px;
}

/* Сторінка портфоліо */

.button-list {
    margin-bottom: 34px;
    display: flex;
    justify-content: center;
}

.button-list .item {
    margin-right: 8px;
}

.button-list .item:last-child {
    margin-right: 0;
}

.secondary-button {
    padding: 6px 22px;
    min-width: 73px;

    display: inline-block;
    
    font-family: inherit;
    font-style: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: inherit;
    
    color: var(--secondary-text-color);
    background-color: var(--secondary-background-color);
    border-radius: 4px;
    border-color: var(--secondary-background-color);
    cursor: pointer;

    transition: color 250ms var(--main-timing-function), background-color 250ms var(--main-timing-function), border-color 250ms var(--main-timing-function), box-shadow 250ms var(--main-timing-function);
}

.secondary-button:hover,
.secondary-button:focus {
   color: var(--primary-white-color);
   background-color: var(--accent-color);
   border-color: var(--accent-color);
    box-shadow: var(--secondary-button-shadow);
}

/* Наші роботи */

.work-list {
    display: flex;
    flex-wrap: wrap;
}

.work-list .item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;

    transition: box-shadow 250ms var(--main-timing-function);
}

.work-list .item:nth-child(3n) {
    margin-right: 0;

}

.work-list .item:nth-last-child(-n + 3) {
    margin-bottom: 0;
    
}

.work-list .item:hover {
    box-shadow: var(--portfolio-card-shadow);
}

.work-image-wrapper {
   position: relative;

    overflow: hidden;
}

.work-img {
    display: block;
}

.work-card-overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    padding: 63px 24px;

    background-color: var(--work-card-overlay-background);

    transform: translateY(100%);

    transition: transform 250ms var(--main-timing-function);
    
}

.card-overlay-description {
    margin-top: 0;
    margin-bottom: 0;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    
    color: var(--primary-white-color);
}


.card:hover .work-card-overlay {
    transform: translateY(0);
}

.card-content {
    padding: 20px 24px;

    border: 1px solid var(--card-border-color);
}

.work-title {
    margin-top: 0;
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--secondary-text-color);

}

.work-description {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.88;
    color: var(--primary-text-color);
}

/* Модальне вікно */
 .backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: var(--backdrop-overlay);

    opacity: 1;

    transition: opacity 500ms var(--main-timing-function);

}

.backdrop.is-hidden {
    visibility: visible;
    opacity: 0;
    pointer-events: none;

}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.5);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 528px;
    min-height: 581px;

    padding: 40px;

    background-color: var(--primary-background-color);

    transform: translate(-50%, -50%) scale(1);

    transition: transform 500ms var(--main-timing-function);
}

.close-modal {
    position: absolute;

    top: 8px;
    right: 8px;
    
    padding: 6px;

    width: 30px;
    height: 30px;

    border-radius: 50%;
    border: 1px solid var(--header-border-bootom);
    background-color: var(--primary-background-color);

    color: var(--logo-text-color);

    cursor: pointer;
}

.close-modal-icon {
    fill: currentColor;

    transition: fill 250ms var(--main-timing-function);
}

.close-modal-icon:hover, .close-modal-icon:focus {
    fill: var(--accent-color);

}

.action-description {
    margin-top: 0;
    margin-bottom: 12px;
    padding: 0;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;

    color: var(--secondary-text-color);
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form-field {
    margin-bottom: 10px;
}

.input-wrapper {
    position: relative;
}

.modal-form-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;

    letter-spacing: 0.01em;
    
     color: var(--primary-text-color);
}

.modal-form-input {
    width: 100%;
    height: 40px;

    padding: 11px 8px 11px 40px;
    margin-top: 4px;

    border: 1px solid var(--modal-form-input);
    border-radius: 4px;

    outline: none;

    transition: border-color 250ms var(--main-timing-function);

}

.modal-form-input:focus,
.modal-form-input:hover,
.modal-form-comment textarea:hover,
.modal-form-comment textarea:focus
 {
    border: 1px solid var(--accent-color);
}

.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 12px;

    fill: var(--secondary-text-color);

    transform: translateY(-50%);

    transition: fill 250ms var(--main-timing-function);
}

.modal-form-comment {
    margin-bottom: 20px;
}

.modal-form-comment textarea {
    resize: none;
    padding: 12px 16px;
    margin-top: 4px;
    width: 100%;
    min-height: 120px;

    border: 1px solid var(--modal-form-input);
    border-radius: 4px;

    outline: none;

    transition: border-color 250ms var(--main-timing-function);
}

textarea::placeholder {

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: var(--placeholder-comment);}


.modal-form-input:focus ~ .modal-form-icon, .modal-form-input:hover ~ .modal-form-icon
 {
    fill: var(--accent-color);
}

.checkbox-field {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.checbox-label {
    display: flex;
    align-items: center;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;

    color: var(--primary-text-color);
}

.conditions {
    color: var(--accent-color);
}

.checkbox-input {
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
}

.icon-checkbox {
    margin-right: 7px;
}

.checkbox-input:checked ~ .icon-checkbox {

    fill: var(--accent-color);
    background-color: var(--accent-color);
    background-image: url(../images/iconcheck.svg);
    background-size: contain;
    background-origin: border-box;
}

.modal-send-button {
    display: inline-block;
    width: 200px;
    height: 50px;
    padding: 10px 52px;
    margin-left: auto;
    margin-right: auto;

    font-family: inherit;
    font-style: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    background-color: var(--primary-button-hover-color);

    color: var(--primary-white-color);

    border-radius: 4px;
    border-color: transparent;
    cursor: pointer;

    transition: box-shadow 250ms var(--main-timing-function);
}

.modal-send-button:hover,
.modal-send-button:focus {
    box-shadow: var(--modal-send-button-shadow);
}









